@import "colors";

.social{
    background-color: $first;
        background: rgba(207, 180, 180, 0.3);
    // backdrop-filter: blur(15px);
    width: 5%;
    height: 40vh;
    display: flex;
    position: fixed;
    z-index: 2;
    // filter: blur(4px);
    top: 30%;
    justify-content: center;
    border-radius: 0 10px 10px 0;
    align-items: center;
    
    article{
        display: flex;
            margin: 2rem 0;
            flex-wrap: wrap;
            justify-content: center;
        >div{
            padding: 1.2rem;
            animation: imgdown 0.7s linear infinite alternate;
                margin: .7rem;
                height: 1rem;
                width: 1rem;
                // background-color: $topheading;
        // background: rgba(207, 180, 180, 0.3);
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: $dark;
                // cursor: pointer;
            a{
                svg{
                    color:$topheading;
                    // background-color: $topheading;

                    font-size: 1.3rem;
                }
            }
            &:hover{
            outline: var(--b) solid var(--c);
                outline-offset: var(--g);
                
            }
            
        }
    }
}
